---

import { profileConfig } from "../config";
import { url } from "../utils/url-utils";

const currentYear = new Date().getFullYear();
---

<!--<div class="border-t border-[var(&#45;&#45;primary)] mx-16 border-dashed py-8 max-w-[var(&#45;&#45;page-width)] flex flex-col items-center justify-center px-6">-->
<div class="py-12 text-center text-sm text-neutral-500 dark:text-neutral-400">
  © 2025 · {profileConfig.name} · All cats are beautiful
</div>